#video-section
  background #e7e7e7
  display flex
  flex-direction column
  justify-content center
  iframe
    display block
    margin 0 auto
    margin-top 1rem
    pointer-events all
  .text-element
    p
      span
        font-size 24px
        background black
        color white
#outro
  background #e7e7e7
  display flex
  flex-direction column
  justify-content center
  .logo
    border none
    display block
    display flex
    a
      display block
      border none
      margin 0 auto
      justify-content center
    svg
      width 150px
      margin 0 auto
      border none
      fill black
      margin-bottom 40px
      pointer-events all

  .text-element
    margin-bottom 2rem
    a
      color black
      pointer-events all
    p
      line-height 1.5
      font-weight 400
      span
        background none
        color black

.footer
  position absolute
  bottom .5rem
  display flex
  width 100%
  margin 0 auto
  left 0px
  right 0px
  z-index 100000
  pointer-events all
  justify-content space-between
  .author
    color rgba(0,0,0,.8)
    font-size 12px
    margin 0
    margin-left 1rem
    line-height 1.5
    align-self center
  .about
    background rgba(255,255,255,.5)
    width 30px
    height 30px
    cursor pointer
    margin-right 1rem
    border-radius 50%
    align-self center
    margin-bottom 10px
    p
      color rgba(0,0,0,.8)
      margin 0
      text-align center
      font-weight 600
      line-height 1.8
  .logo
    border none
    display none
    svg
      width 22px
      margin-left 1rem


#pandora
  user-select none
  .text-element
    margin-bottom 1rem
    p
      font-size 18px
      line-height 1.5
      span
        background black
        color white
  .text-light
    p
      span
        background #fff
        color #000
        font-weight 600


#mendes, #jonas
  .text-element
    p
      font-size 18px
      line-height 1.5
      span
        color white
        background black
  .text-light
    p
      span
        background #fff
        color #000
        font-weight 600

#mendes
  .text-light
    margin-top 20px
@keyframes bounce-6 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-6px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-3px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

@keyframes bounce-5 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(6px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(3px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

#jonas, #mendes
  display flex
  flex-direction column
  .lyrics-container
    flex-grow 1
    overflow hidden
    user-select none
    .arrow
      position absolute
      top -10px
      transform translate(0,-100%)
      z-index 10000
      left 0px
      right 0px
      margin 0 auto
      display none
      user-select none
      svg
        stroke white
        stroke-width 2px
        display block
        margin 0 auto
        animation-name bounce-6
        animation-timing-function ease
        animation-duration 2s
        animation-iteration-count infinite
      p
        color white
        font-size 12px
        text-align center
        font-weight 600
        text-transform uppercase
        letter-spacing 2px
        user-select none
    .arrow-down
      top auto
      bottom -10px
      transform translate(0,100%)
      svg
        animation-name bounce-5
        animation-timing-function ease
        animation-duration 2s
        animation-iteration-count infinite






.lyric
  position absolute
  user-select none
  bottom 0%
  text-align center
  left 0px
  right 0px
  transition bottom .1s ease-in-out
  p
    font-weight 600
    user-select none
    text-transform uppercase
    margin 0 auto
    transition bottom .1s ease-in-out


#year-chart
  overflow hidden
  //background linear-gradient(202.52deg, #190929 5.72%, #062B30 97.02%);
  background #F8C784
  .background-image
    opacity 0
    mix-blend-mode soft-light
  .text-parts
    z-index 10000
    .text-element
      position absolute
      opacity 0
      p
        span
          background white
          color black
          font-weight 600
          line-height 1.5
          b
            color white
            background black
  .chart
    position relative
    transition transform .5s ease-in-out
    .arrow
      position absolute
      top 0px
      width 90%
      margin 0 auto
      left 0px
      right 0px
      svg
        stroke black
        width 15px
        display block
        margin 0
        transition opacity 1s linear
      p
        font-size 12px
        text-transform capitalize
        margin-top -5px
        color black
    .song-names
      //display flex
      width 90%
      margin 0 auto
      margin-top 20px
      opacity 0
      transition opacity 1s linear
      .year-col
        position relative
        //min-width 150px
        //margin-right 30px
        display flex
        flex-wrap wrap
        margin-bottom 40px
        .song-name
          font-size 12px
          font-weight 600
          margin-right 5px
          line-height 1
          margin-bottom 5px
          span
            color rgba(0,0,0,.75)
            //background black
            transition font-size 1s, color 1s
        .song-highlight
          span
            background black
            color white

        .year-name
          position absolute
          top -5px
          left 0px
          transform translate(0,-100%)
          color white
          font-size 24px
          font-weight 600
    .minify
      .year-col
        .song-name
          font-size 7px
          //line-height
          margin-right 2px
          span
            opacity .5
    .show-register
      .year-col
        .song-name
          opacity .4
        .high-register, .song-highlight
          opacity 1
          span
            opacity 1
            color rgba(0,0,0,.75)
            transition color 1s
        .song-highlight
          span
            color white
    .show-top
      .year-col
        .song-name
          display none
          span
            opacity 0
            display none
        .peak-rank
          display block
          span
            opacity .7
            display block
        .peak-rank.high-register
          display block
          span
            opacity 1
            display block
    svg
      display block
      margin 0 auto
      transition opacity 1s linear
      .num-container
        text
          fill black
          font-family $atlas
          font-size 14px
      .annotations-container
        g
          opacity 0
          text
            fill black
            font-size 24px
            text-anchor middle
            font-family $atlas
          circle
            fill white

      path
        fill none
        //stroke #04ffc5
        stroke #ef6336
        stroke-width 2px
      .top-path
        circle
          display none
          fill rgba(23, 36, 82, 0.18)
          stroke #112d3a
        path
          stroke black
      .year-container
        g
          opacity 0
          &:nth-of-type(10n+1)
            opacity 1
        line
          stroke black
          shape-rendering crispEdges
          opacity .5
        text
          fill black
          font-size 11px
          text-anchor middle
          font-family $atlas


#single-year
  .text-parts
    .text-element
      position absolute
      opacity 0
      p
        span
          background black
          color white
          line-height 1.5
  .pandora-chart
    display flex
    flex-direction column
    max-height 500px
    height 50vh
    margin 0 auto
    margin-top 50px
    max-width 100%
    width 550px;
    position relative
    .average-line
      width calc(60% - 70px)
      height 2px
      position absolute
      background white
      left 20px
      top 0px
      right 0px
      margin 0 auto
      opacity 0
      .label, .avg-num
        position absolute
        left -5px
        top 0px
        transform translate(-100%,-50%)
        font-size 12px
        span
          background white
          color black
          padding 2px 5px
      .avg-num
        left auto
        right 0px
        transform translate(100%,-50%)
        font-size 14px
        font-weight 600
        span
          background none
          color white


    .number-bar
      height 1px
      margin-left 5rem
      flex-grow 1
      display flex
      padding-bottom 10px
      border-left 1px solid white
      position relative
      .annotation
        position absolute
        top 50%
        left 5px
        transform translate(0%,calc(-50% - 5px))
        font-weight 600
        font-size 16px
        width 200px
        line-height 1.2
        span
          color black
      .bar-name
        position absolute
        top 50%
        left -10px
        transform translate(-100%,calc(-50% - 5px))
        font-weight 600


      .song
        height 0%
        width 3px
        margin-right 1px
        background #fd1664
        display none


#intro
  background #A0D3D6
  display flex
  flex-direction column
  justify-content center
  .logo
    padding-top 10px
    width 130px
    margin 0 auto
    p
      font-size 11px
      color rgba(0,0,0,.8)
      letter-spacing 1px
      font-weight 600
      margin-bottom 65px
      text-align center
      user-select none
    a
      display block
      text-decoration none
      border none
      pointer-events all
      &:hover
        text-decoration none
        border none
    svg
      display block
      margin 0 auto
  .part
    .text-element
      pointer-events none
      user-select none
      p
        color rgba(0,0,0,.8)
        font-size 18px
        font-weight 500
        text-align left
        line-height 1.3
        user-select none
        span
          background none
          color rgba(0,0,0,.8)
          user-select none
    button
      margin-bottom 1rem
      pointer-events none
      margin-top 2rem
      color rgba(0,0,0,.8)
      font-size 13px
      user-select none
      font-weight 600
      text-transform uppercase
      letter-spacing 1px
      padding 1rem 2rem
      border-radius 3px

#touch
  height 100%
  width 100%
  position absolute
  top 0px
  left 0px
  display flex
  z-index 1
  .left
    width 25%
    height 100%
  .right
    width 75%
    height 100%

#beegees
  display flex
  flex-direction column
  justify-content flex-start
  background #A0D3D6
  justify-content center
  user-select none
  .text-element
    p
      font-size 18px
      font-weight 600
      line-height 1.5
      span
        background rgba(255,255,255,.4)
        color rgba(0,0,0,.8)
  .text-light
    p
      span
        background #fff
        color #000
        font-weight 600
  .gif-element
    max-width 100%
    user-select none
    width 550px
    margin 1rem auto
/* CUSTOM STORY STYLE */
html, #content
  background #222

body
  width 100%
  height 100%

.text-element
  width 100%
  user-select none
  p
    width 90%
    user-select none
    max-width 550px
    margin 0 auto
    line-height 1.25
    font-size 16px
    span
      opacity 1
      color #E8E6F3
      user-select none
      background #221D3D


p, button, span
  font-family $atlas
  color white
  margin 0
#content
  width 100%
  height 100%
  overflow hidden
#story
  height 100%
  width 100%
  pointer-events none

button
  background-color rgba(255,255,255,.25)
  color #FFD705
  margin 0 auto
  display block

.card
  height 100%
  width 100%
  padding-top 1rem
  display block
  position absolute
  visibility hidden
  pointer-events none
  z-index 2
  padding-bottom 2rem

.is-visible
  visibility visible
  opacity 1
  .background-image
    visibility visible
    opacity 1

.text-element, .part
  position relative
  z-index 1000

.gif-element
  margin 1rem 0rem

.background-image
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  overflow hidden
  transition 250ms ease-in-about
  background #282828
  opacity 0
  z-index 0
  img, video
    display block
    position absolute
    top 50%
    left 50%
    min-width 100%
    min-height 100%
    width auto
    height auto
    transform translate(-50%,-50%)
    opacity 1
  .dot
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    background url(assets/images/dot.png)
    opacity .75


.text-light
  p
    span
      background #F2DCE5
      color #221D3D
      font-weight 600

.text-big
  p
    span
      font-size 24px
