<div class="footer">
	<p class="author">By Matt Daniels</p>
	<a href="/" class="logo">
		<svg viewBox="0 0 24 37" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M22.9055 3.93956C21.2881 0.66968 18.7214 0.31808 16.1899 1.65416C14.1506 2.74412 8.34924 6.26012 8.34924 6.26012V10.409C8.34924 10.409 14.9593 6.57656 16.1899 5.94368C17.7018 5.135 19.2488 5.38112 20.2333 7.31492C21.2178 9.28389 21.1826 12.5889 19.6004 15.2259C18.3698 17.3004 17.2096 18.2497 16.1196 18.8474C15.0296 19.4451 8.34924 23.3831 8.34924 23.3831V27.5319C8.34924 27.5319 14.2561 24.1566 16.0844 23.1721C17.8776 22.1876 19.7762 20.6054 21.8507 17.1597C24.4877 12.7296 24.5228 7.20944 22.9055 3.93956Z" fill="#222" fill-opacity="0.48"/>
		<path d="M17.1399 13.3625C17.6673 12.4835 17.6673 11.3935 17.3509 10.7606C17.0344 10.1277 16.507 10.0574 16.0148 10.3035C15.628 10.5145 8.31476 14.6634 8.31476 14.6634V18.8123C8.31476 18.8123 15.628 14.7337 15.9796 14.5227C16.3664 14.3469 16.7532 14.0305 17.1399 13.3625Z" fill="#222" fill-opacity="0.48"/>
		<path d="M8.34991 36.0758L12.2175 33.8607V29.7118L8.34991 31.9269V36.0758V36.0758Z" fill="#222" fill-opacity="0.48"/>
		<path d="M8.35002 10.409L4.48242 8.15877V4.00989L8.35002 6.26013V10.409Z" fill="#222" fill-opacity="0.35"/>
		<path d="M8.35007 18.8123L0.614868 14.3821V10.2332L8.35007 14.6634V18.8123Z" fill="#222" fill-opacity="0.35"/>
		<path d="M8.35012 27.4967L6.38116 26.3716V22.2227L8.35012 23.3479V27.4967V27.4967Z" fill="#222" fill-opacity="0.35"/>
		<path d="M8.35004 36.0758L2.61896 32.7708V28.6219L8.35004 31.9269V36.0758Z" fill="#222" fill-opacity="0.35"/>
		</svg>
	</a>
	<div class="about">
		<p class="circle">?</p>
	</div>
</div>
<section class="" id="touch">
	<div class="left">
	</div>
	<div class="right">
	</div>
</section>

<section class="" id="story">
	<div id="intro" class="card is-visible">
		<div class="logo">
			<a href="/">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95 26" fill="none">
					<path d="M74.0369 4.94C74.7767 4.94 75.418 5.616 75.418 6.396C75.418 7.176 74.7767 7.852 74.0369 7.852C73.297 7.852 72.6558 7.176 72.6558 6.396C72.6558 5.616 73.297 4.94 74.0369 4.94Z" fill="#221D3D"/>
					<path d="M72.6064 8.996H75.3686V18.46H72.6064V8.996Z" fill="#221D3D"/>
					<path d="M38.0296 4.94H37.0924H33.6396V14.976V18.46H36.4019V14.976V14.248H37.0924H38.0296C40.4465 14.248 42.4195 12.168 42.4195 9.62C42.4195 7.072 40.4958 4.94 38.0296 4.94ZM38.0296 11.336H37.0924H36.4019V10.608V8.632V7.904H37.0924H38.0296C38.9174 7.904 39.6573 8.684 39.6573 9.62C39.6573 10.556 38.9668 11.336 38.0296 11.336Z" fill="#221D3D"/>
					<path d="M52.1365 9.15199H49.3743V13.78C49.3743 14.716 48.6345 15.496 47.7466 15.496C46.8588 15.496 46.1189 14.716 46.1189 13.78V9.15199H43.3567V13.78C43.3567 16.328 45.3297 18.408 47.7466 18.408C50.1635 18.408 52.1365 16.328 52.1365 13.78V9.15199Z" fill="#221D3D"/>
					<path d="M80.9424 9.15199C78.5255 9.15199 76.5525 11.232 76.5525 13.78V18.408H79.3147V13.78C79.3147 12.844 80.0546 12.064 80.9424 12.064C81.8303 12.064 82.5702 12.844 82.5702 13.78V18.408H85.3324V13.78C85.3324 11.232 83.3594 9.15199 80.9424 9.15199Z" fill="#221D3D"/>
					<path d="M59.0421 8.424V9.152H58.3515H57.4143C54.9974 9.152 53.0244 11.232 53.0244 13.78C53.0244 16.328 54.9974 18.408 57.4143 18.408H58.3515H61.8043V8.424V4.94L59.0421 6.656V8.424ZM59.0914 12.792V14.768V15.496H58.4008H57.4637C56.5758 15.496 55.8359 14.716 55.8359 13.78C55.8359 12.844 56.5758 12.064 57.4637 12.064H58.4008H59.0914V12.792Z" fill="#221D3D"/>
					<path d="M68.7098 8.424V9.152H68.0192H67.0821C64.6651 9.152 62.6921 11.232 62.6921 13.78C62.6921 16.328 64.6651 18.408 67.0821 18.408H68.0192H71.472V8.424V4.94L68.7098 6.656V8.424ZM68.7591 12.792V14.768V15.496H68.0192H67.0821C66.1942 15.496 65.4543 14.716 65.4543 13.78C65.4543 12.844 66.1942 12.064 67.0821 12.064H68.0192H68.7098V12.792H68.7591Z" fill="#221D3D"/>
					<path d="M90.61 9.15199C88.1931 9.15199 86.2201 11.232 86.2201 13.78C86.2201 16.328 88.1931 18.408 90.61 18.408H91.5472H92.2378V19.136V19.604V20.332V21.06C92.2378 21.996 91.4979 22.776 90.61 22.776C89.7222 22.776 88.9823 21.996 88.9823 21.06V19.76L86.2201 21.476C86.4174 23.816 88.2917 25.688 90.61 25.688C93.027 25.688 95 23.608 95 21.06V20.332V19.136V9.15199H91.5472H90.61ZM92.2378 12.168V12.896V14.872V15.6H91.5472H90.61C89.7222 15.6 88.9823 14.82 88.9823 13.884C88.9823 12.948 89.7222 12.168 90.61 12.168H91.5472H92.2378Z" fill="#221D3D"/>
					<path d="M14.107 9.152C13.5151 9.152 12.9725 9.256 12.4792 9.464V4.94L9.71704 6.656V13.78V14.82V18.408H12.4792V14.82V13.78C12.4792 12.844 13.2191 12.064 14.107 12.064C14.9948 12.064 15.7347 12.844 15.7347 13.78V18.408H18.4969V13.78C18.4969 11.232 16.5239 9.152 14.107 9.152Z" fill="#221D3D"/>
					<path d="M8.77985 4.94H0V7.852H3.00883V18.408H5.77103V7.852H8.77985V4.94Z" fill="#221D3D"/>
					<path d="M23.824 15.704C23.6267 15.704 23.2321 15.652 22.9362 15.496L25.5011 14.404L28.2633 13.208L27.77 12.012L27.7207 11.908C27.6714 11.752 27.5727 11.596 27.4741 11.388C27.4248 11.336 27.4248 11.284 27.3754 11.232C27.3754 11.232 27.3754 11.18 27.3261 11.18L27.2768 11.128L27.2275 11.076C26.4383 9.93199 25.2545 9.25599 23.9227 9.15199H23.6267C21.2098 9.15199 19.2368 11.232 19.2368 13.78C19.2368 13.988 19.2368 14.248 19.2861 14.508V14.56C19.2861 14.56 19.2861 14.56 19.2861 14.612C19.2861 14.612 19.2861 14.612 19.2861 14.664C19.2861 14.82 19.3355 14.924 19.3848 15.08V15.132V15.184C19.4341 15.34 19.4834 15.548 19.5821 15.704V15.756V15.808C19.6314 15.964 19.7301 16.068 19.7794 16.224C19.7794 16.276 19.8287 16.276 19.8287 16.328C19.878 16.432 19.9767 16.536 20.026 16.64C20.026 16.64 20.026 16.64 20.026 16.692C20.026 16.692 20.026 16.744 20.0753 16.744L20.1247 16.796C20.9632 17.888 22.295 18.564 23.6761 18.564H26.6849V15.86C26.8822 15.704 24.9585 15.704 23.824 15.704ZM21.999 13.364L21.9004 13.416C21.999 12.428 22.7882 11.596 23.7254 11.596C24.1693 11.596 24.6132 11.804 24.9092 12.064L22.7882 13L21.999 13.364Z" fill="#221D3D"/>
				</svg>
			</a>
			<p>PRESENTS</p>
		</div>
		<div class="part">
			<div class="text-element">
				<p>
					<span>This is a story about whether men are singing higher in pop music.</span>
				</p>
			</div>
			<button type="button" name="button">Tap anywhere</button>
		</div>
		<div class="part" style="opacity:0;">
			<div class="text-element">
				<p>
					<span>This article has music, so you’ll want your audio, headphones, sound or whatever on.</span>
				</p>
			</div>
			<button type="button" name="button">♪ ♫ Tap Right-screen to move forward, Left to go back ♪ ♫</button>
		</div>
	</div>
	<div id="jonas" class="card">
		<div class="part">
			<div class="text-element">
				<p>
					<span class="step-text">This is the 2019 mega-hit &ldquo;Sucker&rdquo; by Jonas Brothers. It’s sung by three men at a very high vocal range with falsetto.</span>
				</p>
			</div>
		</div>
		<div class="part lyrics-container">
			<div class="lyric">
				<p></p>
				<div class="arrow arrow-up">
					<img inline src="arrow-up.svg">
					<p>higher note</p>
				</div>
				<div class="arrow arrow-down">
					<p>lower note</p>
					<img inline src="arrow-down.svg">
				</div>
			</div>

		</div>
		<div class="background-image">
			<img style="opacity:.5;" alt="" src="https://media.giphy.com/media/3kCXOc72gCyQjZ8qlf/giphy.gif">
			<!-- <img style="opacity:.5;" alt="" src="https://i.giphy.com/media/3kCXOc72gCyQjZ8qlf/giphy.webp"> -->
			<!-- <video style="opacity:.5;" preload playsinline loop autoplay muted src="https://media.giphy.com/media/3kCXOc72gCyQjZ8qlf/giphy.mp4">
			</video> -->

			<div class="dot">
			</div>


		</div>
	</div>
	<div id="mendes" class="card">
		<div class="text-element">
			<p>
				<span>Fellow music nerd Estelle Caswell at Vox told me about one of her theories: men&rsquo;s voices, in 2019, seem really high.</span>
			</p>
		</div>
		<div class="text-element text-light text-big">
			<p>
				<span>E.g., this year&rsquo;s &ldquo;If I Can't Have You&ldquo; by Shawn Mendes
			</p>
		</div>
		<div class="part lyrics-container">
			<div class="lyric">
				<p></p>
				<div class="arrow arrow-up">
					<img inline src="arrow-up.svg">
					<p>higher note</p>
				</div>
				<div class="arrow arrow-down">
					<p>lower note</p>
					<img inline src="arrow-down.svg">
				</div>
			</div>
		</div>

		<div class="background-image">
			<img style="opacity:.75;" alt="" src="https://media.giphy.com/media/vcAXLMbJoqcQinftpN/giphy.gif">
			<!-- <video style="opacity:.75;" preload playsinline loop autoplay muted src="https://media.giphy.com/media/3o6EhKCxH2MIOOzLag/giphy.mp4">
			</video> -->

			<!-- <img style="opacity:1;" src="https://i.giphy.com/media/3o6EhKCxH2MIOOzLag/giphy.webp"> -->
			<div class="dot">
			</div>
		</div>
	</div>
	<div id="beegees" class="card">
		<div class="part">
			<div class="text-element">
				<p>
					<span>Sure, today’s music isn’t full on Bee Gees.</span>
				</p>
			</div>
		</div>
		<div class="gif-element">
			<img src="https://i.giphy.com/media/gZxKI6tZyQBu8/giphy.gif" alt="">
		</div>
		<div class="part">
			<div class="text-element text-light text-big">
				<p>
					<span>But is 2019 a renaissance for men exploiting their upper register (i.e., singing high) in pop music?</span>
				</p>
			</div>
		</div>

	</div>
	<div id="pandora" class="card">
		<div class="part">
			<div class="text-element">
				<p>
					<span>When Estelle mentioned her theory, I asked Pandora for vocal register data of any song that’s charted on the Billboard Hot 100.</span>
				</p>
			</div>
		</div>
		<div class="part">
			<div class="text-element">
				<p>
					<span>Pandora&lsquo;s data consists of one number for each song, on a scale of 1 to 10.</span>
				</p>
			</div>
		</div>
		<div class="part">
			<div class="text-element text-light text-big">
				<p>
					<span>Currently playing is Ginuwine&rsquo;s &ldquo;Pony,&rdquo; which peaked at #6 in 1996. In the data, it&rsquo;s a 10 out of 10 on vocal register. Ginuwine hits very high notes and the song is at a high register.</span>
				</p>
			</div>
		</div>

		<div class="background-image">
			<!-- <img style="opacity:.75;" alt="Shawn Mendes Snl GIF by Saturday Night Live" src="https://media.giphy.com/media/ic6xH7pZRnK4HEGDti/giphy.webp"> -->
			<!-- <video preload playsinline loop autoplay muted src="https://media.giphy.com/media/QtorWE2CXZIJzNsRjx/giphy.mp4">
			</video> -->
			<img style="opacity:1;" src="https://media.giphy.com/media/QtorWE2CXZIJzNsRjx/giphy.gif">
		</div>
	</div>
	<div id="single-year" class="card">
		<div class="part text-parts">
			<div class="text-element">
				<p>
					<span>So if Pony is a 10 on vocal register, most Barry White songs are a 2: the notes he sings are much lower.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>Let’s build a chart with the vocal register for 248 songs that first charted in 2019.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>We’re curious about men singing, so we&rsquo;ll filter for songs with a male vocal lead and exclude any that are primarily spoken/rapped, which brings us to 80 songs.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>The average register of these 80 songs, from 2019, is 5.95 (on a scale of 1 to 10). How does this compare historically?</span>
				</p>
			</div>
		</div>
		<div class="part">
			<div class="pandora-chart">
			</div>
		</div>
		<div class="background-image">
			<img style="opacity:.75;" src="https://media.giphy.com/media/3ohjUL7c1W8R1Fkt68/giphy.gif">
			<!-- <video style="opacity:.75;" preload playsinline loop autoplay muted src="https://media.giphy.com/media/3ohjUL7c1W8R1Fkt68/giphy.mp4">
			</video> -->
			<!-- <img style="opacity:1;" src="https://media.giphy.com/media/3ohjUL7c1W8R1Fkt68/giphy.gif"> -->
			<div class="dot">
			</div>
		</div>
	</div>
	<div id="year-chart" class="card">
		<div class="part text-parts">
			<div class="text-element">
				<p>
					<span>Here is average register for the past 50 years. 2019 doesn&rsquo;t look that impressive compared to the &rsquo;80s,</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>And I wasn&rsquo;t expecting to see such a clear trend: rising register until the early &lsquo;90s and then a drop-off. Let&rsquo;s look at 1984 a bit more.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>Here are the top 100 songs in 1984 (again, filtering for songs with male vocal leads).</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>I&rsquo;ve faded out any song that is not labeled as high register (7 or higher). Songs still in bold are at a high register — tracks like <b>When Doves Cry</b>.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>Here is how that compares to 2017, one of the years with the lowest average register in our dataset. Note how, in 2017, fewer songs have a register of 7 or higher.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>It’s not surprising given what was percolating in the ‘80s. Let’s look at 1988, when vocal register, as measured by our data, peaked.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>Bands like <b>Guns N' Roses</b>, Aerosmith, and Poison were all charting, with lead singers who sang at their highest range. Good luck karaokeing any of these songs.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>1977 was the year of &ldquo;Stayin&rsquo; Alive&rdquo;, so let&rsquo;s take a peek there as well.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>Besides the Bee Gees, we have high register hits from Marvin Gaye, like <b>Got To Give It Up</b>, as well as <b>Stevie Wonder</b>, <b>Foreigner</b>, and <b>Queen</b>.</span>
				</p>
			</div>
			<!-- <div class="text-element">
				<p>
					<span>Up until the the late 1980s, men&rsquo;s voices were steadily shifting higher. Let&rsquo;s look at the first clear spike in register: 1970.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>1970 had the likes of <b>Smokey Robinson</b>, <b>Simon and Garfunkel</b>, <b>Jackson 5</b>, and <b>Queen</b>.</span>
				</p>
			</div> -->
			<div class="text-element">
				<p>
					<span>Currently playing is &ldquo;Sherry&ldquo; by the 4 Seasons from 1962, a low year for register. Their countless hits featured Frankie Vallie singing at a impossibly high register.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>So back to the idea that men&rsquo;s voices are higher these days. 2010 seems to the last year with a register comparable to the 1970s.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>This might have the been the result of <b>Bruno Mars</b> and <b>Bieber</b> hitting the charts.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>Yet when it comes to 2019, men&rsquo;s voices in pop music are much lower than the &lsquo;70s and &lsquo;80s.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>But suppose we only look at songs that ranked in the top 10 of the Billboard Hot 100. Each circle is the average register for top 10 hits in a year.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>2019 is the big circle on the upper right, the highest register in 60 years.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>While it&rsquo;s only the mid-point of the year, here are the 80 songs from 2019 with male vocal leads (with singing). Tracks with a register below a 7 are faded out.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>If we remove any song that did not hit the top 10, we&rsquo;re left with 5 songs, and four of those have a high register, such as Khalid&lsquo;s <b>Talk</b>.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>So basically, 4 of the 5 songs that have hit the top 10 have had a high register. When it comes to huge hits, Estelle&rsquo;s theory wins.</span>
				</p>
			</div>
		</div>
		<div class="part">
			<div class="chart">
				<div class="arrow">
					<img inline src="arrow-up.svg">
					<p>higher register</p>
				</div>
			</div>
		</div>
		<div class="background-image" style="opacity:0;">
			<!-- <video style="opacity:1;" preload playsinline loop autoplay muted src="https://media.giphy.com/media/26AHrsRVKw5lDjRba/giphy.mp4">
			</video> -->
			<img style="opacity:1;" src="https://i.giphy.com/media/26AHrsRVKw5lDjRba/giphy.gif">
			<div class="dot">
			</div>
		</div>
	</div>
	<div class="card" id="video-section">
		<div class="part">
			<div class="text-element">
				<p>
					<span>She even made a video about it and interviewed me about the data approach.</span>
				</p>
			</div>
		</div>
		<div class="part">
			<div class="video-holder">
				<div id="video-container">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/qJT2h5uGAC0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div id="outro" class="card">
		<div class="logo">
			<a href="/">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95 26" fill="none">
					<path d="M74.0369 4.94C74.7767 4.94 75.418 5.616 75.418 6.396C75.418 7.176 74.7767 7.852 74.0369 7.852C73.297 7.852 72.6558 7.176 72.6558 6.396C72.6558 5.616 73.297 4.94 74.0369 4.94Z" fill="#221D3D"/>
					<path d="M72.6064 8.996H75.3686V18.46H72.6064V8.996Z" fill="#221D3D"/>
					<path d="M38.0296 4.94H37.0924H33.6396V14.976V18.46H36.4019V14.976V14.248H37.0924H38.0296C40.4465 14.248 42.4195 12.168 42.4195 9.62C42.4195 7.072 40.4958 4.94 38.0296 4.94ZM38.0296 11.336H37.0924H36.4019V10.608V8.632V7.904H37.0924H38.0296C38.9174 7.904 39.6573 8.684 39.6573 9.62C39.6573 10.556 38.9668 11.336 38.0296 11.336Z" fill="#221D3D"/>
					<path d="M52.1365 9.15199H49.3743V13.78C49.3743 14.716 48.6345 15.496 47.7466 15.496C46.8588 15.496 46.1189 14.716 46.1189 13.78V9.15199H43.3567V13.78C43.3567 16.328 45.3297 18.408 47.7466 18.408C50.1635 18.408 52.1365 16.328 52.1365 13.78V9.15199Z" fill="#221D3D"/>
					<path d="M80.9424 9.15199C78.5255 9.15199 76.5525 11.232 76.5525 13.78V18.408H79.3147V13.78C79.3147 12.844 80.0546 12.064 80.9424 12.064C81.8303 12.064 82.5702 12.844 82.5702 13.78V18.408H85.3324V13.78C85.3324 11.232 83.3594 9.15199 80.9424 9.15199Z" fill="#221D3D"/>
					<path d="M59.0421 8.424V9.152H58.3515H57.4143C54.9974 9.152 53.0244 11.232 53.0244 13.78C53.0244 16.328 54.9974 18.408 57.4143 18.408H58.3515H61.8043V8.424V4.94L59.0421 6.656V8.424ZM59.0914 12.792V14.768V15.496H58.4008H57.4637C56.5758 15.496 55.8359 14.716 55.8359 13.78C55.8359 12.844 56.5758 12.064 57.4637 12.064H58.4008H59.0914V12.792Z" fill="#221D3D"/>
					<path d="M68.7098 8.424V9.152H68.0192H67.0821C64.6651 9.152 62.6921 11.232 62.6921 13.78C62.6921 16.328 64.6651 18.408 67.0821 18.408H68.0192H71.472V8.424V4.94L68.7098 6.656V8.424ZM68.7591 12.792V14.768V15.496H68.0192H67.0821C66.1942 15.496 65.4543 14.716 65.4543 13.78C65.4543 12.844 66.1942 12.064 67.0821 12.064H68.0192H68.7098V12.792H68.7591Z" fill="#221D3D"/>
					<path d="M90.61 9.15199C88.1931 9.15199 86.2201 11.232 86.2201 13.78C86.2201 16.328 88.1931 18.408 90.61 18.408H91.5472H92.2378V19.136V19.604V20.332V21.06C92.2378 21.996 91.4979 22.776 90.61 22.776C89.7222 22.776 88.9823 21.996 88.9823 21.06V19.76L86.2201 21.476C86.4174 23.816 88.2917 25.688 90.61 25.688C93.027 25.688 95 23.608 95 21.06V20.332V19.136V9.15199H91.5472H90.61ZM92.2378 12.168V12.896V14.872V15.6H91.5472H90.61C89.7222 15.6 88.9823 14.82 88.9823 13.884C88.9823 12.948 89.7222 12.168 90.61 12.168H91.5472H92.2378Z" fill="#221D3D"/>
					<path d="M14.107 9.152C13.5151 9.152 12.9725 9.256 12.4792 9.464V4.94L9.71704 6.656V13.78V14.82V18.408H12.4792V14.82V13.78C12.4792 12.844 13.2191 12.064 14.107 12.064C14.9948 12.064 15.7347 12.844 15.7347 13.78V18.408H18.4969V13.78C18.4969 11.232 16.5239 9.152 14.107 9.152Z" fill="#221D3D"/>
					<path d="M8.77985 4.94H0V7.852H3.00883V18.408H5.77103V7.852H8.77985V4.94Z" fill="#221D3D"/>
					<path d="M23.824 15.704C23.6267 15.704 23.2321 15.652 22.9362 15.496L25.5011 14.404L28.2633 13.208L27.77 12.012L27.7207 11.908C27.6714 11.752 27.5727 11.596 27.4741 11.388C27.4248 11.336 27.4248 11.284 27.3754 11.232C27.3754 11.232 27.3754 11.18 27.3261 11.18L27.2768 11.128L27.2275 11.076C26.4383 9.93199 25.2545 9.25599 23.9227 9.15199H23.6267C21.2098 9.15199 19.2368 11.232 19.2368 13.78C19.2368 13.988 19.2368 14.248 19.2861 14.508V14.56C19.2861 14.56 19.2861 14.56 19.2861 14.612C19.2861 14.612 19.2861 14.612 19.2861 14.664C19.2861 14.82 19.3355 14.924 19.3848 15.08V15.132V15.184C19.4341 15.34 19.4834 15.548 19.5821 15.704V15.756V15.808C19.6314 15.964 19.7301 16.068 19.7794 16.224C19.7794 16.276 19.8287 16.276 19.8287 16.328C19.878 16.432 19.9767 16.536 20.026 16.64C20.026 16.64 20.026 16.64 20.026 16.692C20.026 16.692 20.026 16.744 20.0753 16.744L20.1247 16.796C20.9632 17.888 22.295 18.564 23.6761 18.564H26.6849V15.86C26.8822 15.704 24.9585 15.704 23.824 15.704ZM21.999 13.364L21.9004 13.416C21.999 12.428 22.7882 11.596 23.7254 11.596C24.1693 11.596 24.6132 11.804 24.9092 12.064L22.7882 13L21.999 13.364Z" fill="#221D3D"/>
				</svg>
			</a>
		</div>

		<div class="text-element">
			<p>
				<span>Did you like this? Consider helping fund our publication, <a href="/">The Pudding</a> on <a href="https://patreon.com/thepudding">Patreon</a>, or you can test us out by subscribing to our email <a href="https://cool.us11.list-manage.com/subscribe?u=c70d3c0e372cde433143ffeab&id=9af100ac0f">newsletter</a>.</span>
			</p>
		</div>
		<div class="text-element">
			<p>
				<span>Data on vocal register is from Pandora and chart data is from the Billboard Hot 100. Additional data work was done by Kevin Litman-Navarro</span>
			</p>
		</div>
		<div class="text-element">
			<p>
				<span>You can explore the full dataset in an interactive site <a href="https://the-pudding.github.io/falsetto-site/">here</a>. The raw data is available <a href="https://github.com/the-pudding/falsetto-story/tree/master/src/assets/data">here</a>.</span>
			</p>
		</div>
	</div>
</section>
