<section class="" id="touch">
	<div class="left">
	</div>
	<div class="right">
	</div>
</section>
<section class="" id="story">
	<div id="intro" class="card is-visible">
		<div class="logo">
			<a href="/">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95 26" fill="none">
					<path d="M74.0369 4.94C74.7767 4.94 75.418 5.616 75.418 6.396C75.418 7.176 74.7767 7.852 74.0369 7.852C73.297 7.852 72.6558 7.176 72.6558 6.396C72.6558 5.616 73.297 4.94 74.0369 4.94Z" fill="#221D3D"/>
					<path d="M72.6064 8.996H75.3686V18.46H72.6064V8.996Z" fill="#221D3D"/>
					<path d="M38.0296 4.94H37.0924H33.6396V14.976V18.46H36.4019V14.976V14.248H37.0924H38.0296C40.4465 14.248 42.4195 12.168 42.4195 9.62C42.4195 7.072 40.4958 4.94 38.0296 4.94ZM38.0296 11.336H37.0924H36.4019V10.608V8.632V7.904H37.0924H38.0296C38.9174 7.904 39.6573 8.684 39.6573 9.62C39.6573 10.556 38.9668 11.336 38.0296 11.336Z" fill="#221D3D"/>
					<path d="M52.1365 9.15199H49.3743V13.78C49.3743 14.716 48.6345 15.496 47.7466 15.496C46.8588 15.496 46.1189 14.716 46.1189 13.78V9.15199H43.3567V13.78C43.3567 16.328 45.3297 18.408 47.7466 18.408C50.1635 18.408 52.1365 16.328 52.1365 13.78V9.15199Z" fill="#221D3D"/>
					<path d="M80.9424 9.15199C78.5255 9.15199 76.5525 11.232 76.5525 13.78V18.408H79.3147V13.78C79.3147 12.844 80.0546 12.064 80.9424 12.064C81.8303 12.064 82.5702 12.844 82.5702 13.78V18.408H85.3324V13.78C85.3324 11.232 83.3594 9.15199 80.9424 9.15199Z" fill="#221D3D"/>
					<path d="M59.0421 8.424V9.152H58.3515H57.4143C54.9974 9.152 53.0244 11.232 53.0244 13.78C53.0244 16.328 54.9974 18.408 57.4143 18.408H58.3515H61.8043V8.424V4.94L59.0421 6.656V8.424ZM59.0914 12.792V14.768V15.496H58.4008H57.4637C56.5758 15.496 55.8359 14.716 55.8359 13.78C55.8359 12.844 56.5758 12.064 57.4637 12.064H58.4008H59.0914V12.792Z" fill="#221D3D"/>
					<path d="M68.7098 8.424V9.152H68.0192H67.0821C64.6651 9.152 62.6921 11.232 62.6921 13.78C62.6921 16.328 64.6651 18.408 67.0821 18.408H68.0192H71.472V8.424V4.94L68.7098 6.656V8.424ZM68.7591 12.792V14.768V15.496H68.0192H67.0821C66.1942 15.496 65.4543 14.716 65.4543 13.78C65.4543 12.844 66.1942 12.064 67.0821 12.064H68.0192H68.7098V12.792H68.7591Z" fill="#221D3D"/>
					<path d="M90.61 9.15199C88.1931 9.15199 86.2201 11.232 86.2201 13.78C86.2201 16.328 88.1931 18.408 90.61 18.408H91.5472H92.2378V19.136V19.604V20.332V21.06C92.2378 21.996 91.4979 22.776 90.61 22.776C89.7222 22.776 88.9823 21.996 88.9823 21.06V19.76L86.2201 21.476C86.4174 23.816 88.2917 25.688 90.61 25.688C93.027 25.688 95 23.608 95 21.06V20.332V19.136V9.15199H91.5472H90.61ZM92.2378 12.168V12.896V14.872V15.6H91.5472H90.61C89.7222 15.6 88.9823 14.82 88.9823 13.884C88.9823 12.948 89.7222 12.168 90.61 12.168H91.5472H92.2378Z" fill="#221D3D"/>
					<path d="M14.107 9.152C13.5151 9.152 12.9725 9.256 12.4792 9.464V4.94L9.71704 6.656V13.78V14.82V18.408H12.4792V14.82V13.78C12.4792 12.844 13.2191 12.064 14.107 12.064C14.9948 12.064 15.7347 12.844 15.7347 13.78V18.408H18.4969V13.78C18.4969 11.232 16.5239 9.152 14.107 9.152Z" fill="#221D3D"/>
					<path d="M8.77985 4.94H0V7.852H3.00883V18.408H5.77103V7.852H8.77985V4.94Z" fill="#221D3D"/>
					<path d="M23.824 15.704C23.6267 15.704 23.2321 15.652 22.9362 15.496L25.5011 14.404L28.2633 13.208L27.77 12.012L27.7207 11.908C27.6714 11.752 27.5727 11.596 27.4741 11.388C27.4248 11.336 27.4248 11.284 27.3754 11.232C27.3754 11.232 27.3754 11.18 27.3261 11.18L27.2768 11.128L27.2275 11.076C26.4383 9.93199 25.2545 9.25599 23.9227 9.15199H23.6267C21.2098 9.15199 19.2368 11.232 19.2368 13.78C19.2368 13.988 19.2368 14.248 19.2861 14.508V14.56C19.2861 14.56 19.2861 14.56 19.2861 14.612C19.2861 14.612 19.2861 14.612 19.2861 14.664C19.2861 14.82 19.3355 14.924 19.3848 15.08V15.132V15.184C19.4341 15.34 19.4834 15.548 19.5821 15.704V15.756V15.808C19.6314 15.964 19.7301 16.068 19.7794 16.224C19.7794 16.276 19.8287 16.276 19.8287 16.328C19.878 16.432 19.9767 16.536 20.026 16.64C20.026 16.64 20.026 16.64 20.026 16.692C20.026 16.692 20.026 16.744 20.0753 16.744L20.1247 16.796C20.9632 17.888 22.295 18.564 23.6761 18.564H26.6849V15.86C26.8822 15.704 24.9585 15.704 23.824 15.704ZM21.999 13.364L21.9004 13.416C21.999 12.428 22.7882 11.596 23.7254 11.596C24.1693 11.596 24.6132 11.804 24.9092 12.064L22.7882 13L21.999 13.364Z" fill="#221D3D"/>
				</svg>
			</a>
			<p>PRESENTS</p>

		</div>
		<div class="part">
			<div class="text-element">
				<p>
					<span>This is a story about whether men’s singing voices are getting higher in pop music.</span>
				</p>
			</div>
			<button type="button" name="button">Tap anywhere</button>
		</div>
		<div class="part" style="opacity:0;">
			<div class="text-element">
				<p>
					<span>This article has music, so you’ll want your audio, headphones, sound or whatever on.</span>
				</p>
			</div>
			<button type="button" name="button">♪ ♫ Keep on tappin’ ♪ ♫</button>
		</div>
	</div>
	<div id="jonas" class="card">
		<div class="part">
			<div class="text-element">
				<p>
					<span class="step-text">This is the 2019 mega-hit Sucker by Jonas Brothers. It’s sung by three men at a very high vocal range with falsetto.</span>
				</p>
			</div>
		</div>
		<div class="part lyrics-container">
			<div class="lyrics">
				<div class="lyric">
					<p></p>
					<div class="arrow arrow-up">
						<img inline src="arrow-up.svg">
						<p>higher note</p>
					</div>
					<div class="arrow arrow-down">
						<p>lower note</p>
						<img inline src="arrow-down.svg">
					</div>
				</div>

			</div>

		</div>
		<div class="background-image">
			<!-- <img style="opacity:1;" alt="" src="https://media.giphy.com/media/L3uYxvDTP4aiYf8Kzq/giphy.gif"> -->
			<img style="opacity:.5;" alt="" src="https://i.giphy.com/media/3kCXOc72gCyQjZ8qlf/giphy.webp">
			<div class="dot">
			</div>


		</div>
	</div>
	<div id="mendes" class="card">
		<div class="text-element">
			<p>
				<span>Fellow music nerd Estelle Caswell at Vox told me about her theory: male voices, these days, seem really high.</span>
			</p>
		</div>
		<div class="text-element text-light text-big">
			<p>
				<span>Like this Shawn Mendes Jam.
			</p>
		</div>
		<div class="background-image">
			<!-- <img style="opacity:.75;" alt="Shawn Mendes Snl GIF by Saturday Night Live" src="https://media.giphy.com/media/ic6xH7pZRnK4HEGDti/giphy.webp"> -->
			<img style="opacity:1;" src="https://i.giphy.com/media/3o6EhKCxH2MIOOzLag/giphy.webp">
			<div class="dot">
			</div>
		</div>
	</div>
	<div id="beegees" class="card">
		<div class="part">
			<div class="text-element">
				<p>
					<span>Sure, today’s music isn’t full on Bee Gees.</span>
				</p>
			</div>
		</div>
		<div class="gif-element">
			<img src="https://i.giphy.com/media/gZxKI6tZyQBu8/giphy.webp" alt="">
		</div>
		<div class="part">
			<div class="text-element text-light text-big">
				<p>
					<span>But is 2019 a renaissance for high male voices in pop music?</span>
				</p>
			</div>
		</div>

	</div>
	<div id="pandora" class="card">
		<div class="part">
			<div class="text-element">
				<p>
					<span>When Estelle mentioned her theory, I pulled together vocal register data for any song that’s charted on the Billboard Hot 100.</span>
				</p>
			</div>
		</div>
		<div class="part">
			<div class="text-element">
				<p>
					<span>The register data is pretty straightforward. Each song is rated on a 1-10 scale.</span>
				</p>
			</div>
		</div>
		<div class="part">
			<div class="text-element text-light text-big">
				<p>
					<span>Currently playing is Ginuwine&rsquo;s Pony, which peaked at #6 in 1996. It’s a 10 out of 10 on vocal register.</span>
				</p>
			</div>
		</div>

		<div class="background-image">
			<!-- <img style="opacity:.75;" alt="Shawn Mendes Snl GIF by Saturday Night Live" src="https://media.giphy.com/media/ic6xH7pZRnK4HEGDti/giphy.webp"> -->
			<img style="opacity:1;" src="https://media.giphy.com/media/QtorWE2CXZIJzNsRjx/giphy.gif">
		</div>
	</div>
	<div id="single-year" class="card">
		<div class="part text-parts">
			<div class="text-element">
				<p>
					<span>So if Pony is a 10, most Barry White jams are a 2 on the register scale.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>Let’s build this chart with the 248 songs that first charted in 2019.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>We’re only curious about male singing, so let’s focus on men and filter out any songs primarily spoken/rapped, which brings us to 80 songs.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>The average register of these 80s songs from 2019 is 5.95, on a scale of 1 to 10. How does this compare historically?</span>
				</p>
			</div>
		</div>
		<div class="part">
			<div class="pandora-chart">
			</div>
		</div>
		<div class="background-image">
			<!-- <img style="opacity:.75;" alt="Shawn Mendes Snl GIF by Saturday Night Live" src="https://media.giphy.com/media/ic6xH7pZRnK4HEGDti/giphy.webp"> -->
			<img style="opacity:1;" src="https://media.giphy.com/media/3ohjUL7c1W8R1Fkt68/giphy.gif">
			<div class="dot">
			</div>
		</div>
	</div>
	<div id="year-chart" class="card">
		<div class="part text-parts">
			<div class="text-element">
				<p>
					<span>This chart show&rsquo;s average register since 1958. This year doesn&rsquo;t look that impressive compared to the &lsquo;80s</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>Let&lsquo;s focus on 1984, when shit got real.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>Here is the top 100 songs in 1984 with male singing.</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>In <b>green</b> are songs labeled as high register (7 or higher in our dataset), tracks like &ldquo;When Doves Cry.&rsquo;</span>
				</p>
			</div>
			<div class="text-element">
				<p>
					<span>Here is how that compares to 2017, one of the years with the lowest average register in our dataset. Note how fewer songs have a register of 7 or higher.</span>
				</p>
			</div>
		</div>
		<div class="part">
			<div class="chart">
				<div class="arrow">
					<img inline src="arrow-up.svg">
					<p>higher register</p>
				</div>
			</div>
		</div>
		<div class="background-image" style="opacity:0;">
			<img style="opacity:.6" src="https://i.giphy.com/media/26AHrsRVKw5lDjRba/giphy.webp">
			<div class="dot">
			</div>
		</div>

	</div>
	<svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
	  <defs>
      <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
          <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
      </filter>
	  </defs>
	</svg>
</section>
